@page
@model CairaEdu.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
	Layout = "_Layout";
}
<h1>Bienvenido al área Admin</h1>
<div class=" alert alert-dark">
    Estas en la pagina Admin Index @(User.Identity!.Name ?? "Usuario no identificado")
</div>

