@page
@model CairaEdu.Pages.Docente.IndexDocModel
@{
    Layout = "_DocLayout";
}
<h2>INICIO</h2>
<p>
    BienvenidO @(User.Identity?.Name ?? "Usuario") <br> Aqui se mostrar[an luego los tutoriales de uso<br>poner aqu[i una previsualizacion del calendario de clases
</p>