html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.navbar {
    height: 60px;
    background: linear-gradient(90deg, #00291F 0%, #19847D 100%);
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.navbar-icons {
    margin-left: auto; /* empuja el contenedor hacia la derecha */
    display: flex;
    align-items: center;
    gap: 20px; /* espacio entre íconos */
}

    .navbar-icons button {
        background: transparent;
        border: none;
        outline: none;
        padding: 2px;
        border-radius: 8px;
    }

        .navbar-icons button:hover {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.15); /* Efecto hover moderno */
            transition: background 0.2s, color 0.2s;
        }


    .navbar-icons img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-right: 2px;
    }

.body {
    flex: 1;
    display: flex;
    height: 100%;
}

.sidebar {
    background: linear-gradient(90deg, #00291F 0%, #19847D 100%);
    width: 220px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100%; /*para que llene el alto del contenedor*/
}

a.menu-item {
    margin-top: 4px;
    width: 100%;
    height: 75px;
    background: linear-gradient(90deg, #00291F 0%, #19847D 100%);
    display: flex;
    align-items: center;
    justify-content: initial;
    text-decoration: none; /* Quita subrayado */
    gap: 10px;
    padding: 0 20px;
    border: none; /* quita el borde negro */
    outline: none; /* quita el contorno por defecto */
    color: black;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.menu-item span {
    color: white;
    margin-left: 10px;
}

a.menu-item img {
    margin-left: 23px;
    width: 24px;
    height: 24px;
}

a.menu-item:hover {
    background: rgba(255, 255, 255, 0.15); /* efecto hover moderno */
}

a.menu-item:focus-visible {
    outline: 2px solid white; /* accesibilidad para usuarios con teclado */
}


.logo {
    height: 60px;
    object-fit: contain;
    display: block; /* Quita y bloquea el espacio de línea base que causa el margen */
    vertical-align: top !important;
    margin-left: 0px;
    padding: 0;
    align-self: center;
}

.content {
    flex: 1;
    background-color: #d5d5d5;
    padding: 10px;
    overflow-y: auto;
}

/*Fuentes*/
/* Para Rubik */
.rubik-light {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.rubik-medium {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.rubik-semibold {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

/* Para Roboto Condensed */
.roboto-light {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.roboto-medium {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

.roboto-semibold {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600; /* o 700 si prefieres */
}

/*margen top*/
.lbl-margin {
    margin-top: 15px;
}

/*Estilo de las cartas de MATERIA*/
.materia-card {
    transition: transform 0.2s;
}

    .materia-card:hover {
        transform: scale(1.02);
    }

.materia-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* permite desplazamiento si hay mucho texto */
    padding: 1rem;
}
.materia-card:hover .materia-overlay {
    opacity: 1;
}