* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("../img/FondoLogin.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 650px; /*este es el ancho*/
    height: 400.84px;
    background: transparent;
    border: 2px transparent;
    border-radius: 25px;
    backdrop-filter: blur(0);
    display: flex;
    flex-direction: row; /* Acomoda los elementos en fila */
    justify-content: center;
    align-items: center;
    animation: blurEffect 5s forwards;
    overflow: hidden; /* Evita que la imagen desborde el formulario */
    box-sizing: border-box;
    overflow: hidden;
}

.form-left, .form-right {
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-left {
    background: rgba(255, 255, 255, 0.6); /* Fondo sutil para el área izquierda */
    border-right: 1px solid black;
    text-align: center;
    justify-content: flex-start;
}

.form-right {
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
}


.form-box img {
    max-width: 35%; /* La imagen se ajusta al ancho del formulario */
    max-height: 35%; /* Restringe la altura para que no ocupe todo */
    height: auto; /* Mantiene la proporción */
    object-fit: contain; /* Ajusta la imagen sin deformarla */
    margin-top: 10px;
    margin-bottom: 10px; /* Espaciado inferior */
}

@keyframes blurEffect {
    0% {
        backdrop-filter: blur(0);
    }

    100% {
        backdrop-filter: blur(20px);
    }
}

h1 {
    font-size: 1.5em;
    color: black;
}

h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black;
}

    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: black;
        font-size: 1em;
        pointer-events: none;
        transition: 0.5s;
    }

input:focus ~ label {
    top: -5px;
}

input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: black;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    display: flex;
    justify-content: center;
    margin: 10px 0 15px;
    font-size: 0.9em;
    color: black;
}

    .forget label:nth-child(2) {
        order: 1;
    }

    .forget label {
        display: flex;
        align-items: center;
    }

        .forget label input[type="checkbox"] {
            margin-right: 6px;
        }

        .forget label a {
            color: black;
            text-decoration: none;
        }

            .forget label a:hover {
                text-decoration: underline;
            }

button {
    width: 50%;
    height: 40px;
    border-radius: 40px;
    background: #295F2D;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: 0.9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}

    .register p a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

        .register p a:hover {
            text-decoration: underline;
        }

.img-container {
    background: rgba(255, 255, 255, 1); /* Fondo semitransparente */
    border-radius: 20px; /* Más redondeo para suavizar los bordes */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px; /* 10px arriba/abajo y 20px izquierda/derecha */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

img {
    width: 90px; /* Tamaño ajustado de la imagen */
    height: auto; /* Mantener proporción */
    border-radius: 10%; /* Suaviza la imagen */
}

/*Fuentes*/
/* Para Rubik */
.rubik-light {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.rubik-medium {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.rubik-semibold {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

/* Para Roboto Condensed */
.roboto-light {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.roboto-medium {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

.roboto-semibold {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600; /* o 700 si prefieres */
}

.icon-btn-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
