@page
@model Admin.IndexAdmModel
@{
    Layout = "_AdminLayout";
}

<h2>INICIO</h2>
<p>BienvenidO @(User.Identity?.Name ?? "Usuario") <br> Aqui se mostrar[an luego los tutoriales de uso<br>poner aqu[i el acceso a las vistas de los dempas perfiles
    </p>
<a class="btn btn-primary" asp-page="/Docente/IndexDoc">Docente</a>
<a class="btn btn-primary" asp-page="/Representante/IndexRep">Representante</a>
<a class="btn btn-primary" asp-page="/Estudiante/IndexEst">Estudiante</a>

